<?php 
if (!isset($NEGOCIO)) {
    header("Location:".ENV_WEBROOT_FULL_URL."/Usuarios/logout");
    die();
}
?>
<html>
<head>
  <title>
      
  </title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <!-- Incluir ficheros y scripts externos aquí (Mirar el ayudante HTML para más información -->

  
</head>
<body>

  <!-- Si quieres algún tipo de menú para mostrar en todas tus vistas, incluyelo aquí -->
  <div id="cabecera">
      <div id="menu">...</div>
  </div>

  <form method="POST" action="saveform" id='ComlecSuministro'>
      <input type="text" id="ComlecSuministroId" name="data['ComlecSuministro']['id']" value='3'>
      <input type="text" id="ComlecSuministroId" name="data['ComlecSuministro']['numsuministro']">
 
      <button type="submit">Another Button</button> 
   
      
  </form>
  
  <!-- Aquí es donde quiero que se vean mis vistas -->
  <?php 
       



        ?>
  <!-- Añadir un pie de página a cada página mostrada -->
  <div id="pie">...</div>

</body>
</html>