<?php

date_default_timezone_set('America/Lima');



$lista="
<div class='title' >
                <h2>Archivo</h2>
              </div>
              <ul class='nav nav-list treeview'>
              <li class='open'><label class='tree-toggler nav-header'><i class='fa fa-folder-open-o'></i>Importar Archivos</label>
                    <ul class='nav nav-list tree'>
                      <li ><a href='#' onclick='showImp()''>Subir Archivos</a></li>
                      <li><a href='#' onclick='showImp2()''>Ver Vista Previa</a></li>
                    </ul>
                </li>
                <li class='open'><label class='tree-toggler nav-header'><i class='fa fa-folder-open-o'></i>Consultar En Linea</label>
                    <ul class='nav nav-list tree'>
                      <li><a href='#' onclick='showImp4()''>Descargar y Enviar OT</a></li>
                    </ul>
                </li>
                </ul>
                ";

echo $lista;

?>