<?php

date_default_timezone_set('America/Lima');

$lista="
<div class='title'  >
                <h2>Ordenes</h2>
              </div>
              <ul class='nav nav-list treeview'>
              <li class='open'><label class='tree-toggler nav-header'><i class='fa fa-folder-open-o'></i>Reglas</label>
                    <ul class='nav nav-list tree'>
                      <li ><a href='#' onclick='showAsig()''>Ver Definiciones</a></li>
                    </ul>
                </li>
                <li><label class='tree-toggler nav-header'><i class='fa fa-folder-o'></i>Excepciones</label>
                    <ul class='nav nav-list tree'>
                      <li><a href='#' onclick='showAsig2()''>Asignar Excepciones</a></li>
                    </ul>
                </li>
                
                </ul>
                ";

echo $lista;

?>
