<?php

date_default_timezone_set('America/Lima');

$lista="
<div class='title' >
                <h2>Maestros</h2>
              </div>
              <ul class='nav nav-list treeview'>
              <li class='open'><label class='tree-toggler nav-header'><i class='fa fa-folder-open-o'></i>Conceptos Asignacion</label>
                    <ul class='nav nav-list tree'>
                      <li ><a href='#' onclick='showMas1()''>Conceptos Ubicacion</a></li>
                      <li ><a href='#' onclick='showMas2()''>Regla Jerarquia</a></li>
                      <li ><a href='#' onclick='showMas3()''>Composicion Regla Jerarquia</a></li>
                    </ul>
                </li>
                <li class='open'><label class='tree-toggler nav-header'><i class='fa fa-folder-open-o'></i>Regla Asignacion </label>
                    <ul class='nav nav-list tree'>
                    <li><a href='#' onclick='showMas4()''>Poblacion Ubicacion</a></li>
                      <li><a href='#' onclick='showMas5()''>Regla Ubicacion</a></li>
                      <li><a href='#' onclick='showMas6()''>Composicion Regla Ubicacion</a></li>
                    </ul>
                </li>
                <li class='open'><label class='tree-toggler nav-header'><i class='fa fa-folder-open-o'></i>Define Asignacion </label>
                    <ul class='nav nav-list tree'>
                    <li><a href='#' onclick='showMas7()''>Tipo de Asignacion</a></li>
                    <li><a href='#' onclick='showMas8()''>Elementos Formulario</a></li>
                    <li><a href='#' onclick='showMas9()''>Diseña Formulario</a></li>

                    </ul>
                </li>
                </ul>
                ";

echo $lista;

?>