<?php
date_default_timezone_set('America/Lima');
//require_once "../conexion_postgres.php";
require_once(APP."View/Main/conexion.ctp");
$id=$_GET["ida"];
$patron = trim($_GET["patron"]);
/*
require_once('recaptchalib.php');
  $privatekey = "6Lft6PYSAAAAAOumsFaG1RfOlx_xnAtKJXaylo6B";
  $resp = recaptcha_check_answer ($privatekey,
                                'http://www.pexport.com.pe',
                                $_GET["r_challenge"],
                                $_GET["r_response"]);

if (!$resp->is_valid) {
    // What happens when the CAPTCHA was entered incorrectly
    //die ("El reCAPTCHA no se ha especificado correctamente. Vuelva a intentarlo." ."(reCAPTCHA said: " . $resp->error . ")");

    $lista="
            <div class='alert alert-danger alert-white rounded'>
                <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button>
                <div class='icon'><i class='fa fa-check'></i></div>
                <strong>El reCAPTCHA no se ha especificado correctamente. Vuelva a intentarlo!</strong>
               </div>";

} else {*/
	
    if(isset($id) and $id != 0){
    	//if ($_SESSION['intentos'] <= 15){
	        // Your code here to handle a successful verification        
	        $query = pg_query($conexion, 'select cmi.IdIntervencion as IdIntervencion, cmi.FechaAtencion as FechaAtencion,
	        cmo.NroAtencion as NroAtencion,cmo.Suministro,cmo.NombreSuministro as NombreCliente
	        from ComMovTab_Intervencion cmi
	        inner join ComMovTab_Orden cmo on cmi.IdOrden = cmo.IdOrden
	        where cmo.'.$patron.'=\''.$id.'\' and cmi.IdEstado = 14
	        or cmo.'.$patron.'=\''.$id.'\' and cmi.IdEstado = 15 ORDER BY FechaAtencion DESC');
	
	        $rs=pg_num_rows($query);
	
	        if ($rs > 0) {
				$lista= '';
				while ($retornocom = pg_fetch_object($query )){
					$varcliente=$retornocom->nombrecliente ;
					$varintervencion=$retornocom->idintervencion;
					$FechaAtencion=$retornocom->fechaatencion;
					$lista.="
					<div class='alert alert-success alert-white rounded'>
								<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button>
								<div class='icon'><i class='fa fa-check'></i></div>
								<strong>Registro Encontrado!</strong> Mira el acta <a href='".FULL_URL."main/generaacta_monitorear?id=$varintervencion' target='_blank'>Aqui</a>
								</br>
								<strong>$varcliente</strong> - $FechaAtencion
							   </div>";
					//por cada busqueda exitosa incrementa el intento
					//$_SESSION['intentos']++;
				}
	        } else {
	
	            $lista="
				<div class='alert alert-danger alert-white rounded'>
	                        <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button>
	                        <div class='icon'><i class='fa fa-check'></i></div>
	                        <strong>Registro No Encontrado!</strong>
	                       </div>";
	        }
	    /*}else{
	    	$lista="<div class='alert alert-danger alert-white rounded'>
                        <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button>
                        <div class='icon'><i class='fa fa-check'></i></div>
                        <strong>Usted supero el numero de intentos exitosos</strong>
                       </div>";
	    }*/	
    }else{
        $lista="<div class='alert alert-danger alert-white rounded'>
                        <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button>
                        <div class='icon'><i class='fa fa-check'></i></div>
                        <strong>Ingrese un numero de atención!</strong>
                       </div>";
    }
//}

echo $lista;

?>
