<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" conteneur="width=device-width">
<meta name="viewport" conteneur="initial-scale=1.0">
<style type="text/css">
.ExternalClass {
	width:100%;
}
table td {
	border-collapse:collapse;
}
 @media only screen and (max-device-width: 480px) {

/* ------------   Global   ------------ */

body {
 margin:auto!important;
 padding:auto!important;
 background:#ffffff !important
}


/* Largeur Totale Mobile */
 body .arriereplan {
 width:320px!important;
}
/* largeur bloc contenu */
 body .conteneur {
 width:300px!important;
 margin:0 auto !important;
}
/* largeur contenu */
 body .contenu {
 width:280px!important;
 margin:0 auto !important;
}
 body .picto {
 width:58px!important;
 margin:0 auto !important;
}
 body .contact {
 width:130px!important;
 margin:0 auto !important;
}

/* ------------   Styles images  ------------ */

 body img {
 max-width:300px!important;
 height:auto!important;
}


/* ------------   Padding / Alignement   ------------ */

body .center {
text-align:center!important;
}
body .padding0 {
 padding:0!important;
}
body .padding-top {
 padding-top:10px!important;
}

/* ------------   Display   ------------ */

 body .none {
 display:none!important;
}
}
</style>
</head>
<body style="padding:0; margin:0">

<table style="border-top:2px solid #007ab2 " class="arriereplan" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#f4f9fc">
      <table class="conteneur" align="center" width="500" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <table class="conteneur" width="500" align="center" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img style="display:block" border="0" src="<?php echo FULL_URL;?>images/image_08.jpg" width="550" height="107"></td>
              </tr>
            </table>
          </td>            
        </tr>
      </table>    
    </td>
  </tr>
</table>

<table class="arriereplan" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top" bgcolor="#f1f1f1">
      <table style="padding-top:40px;" class="conteneur" align="center" width="600" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td bgcolor="#f1f1f1">            
            <table class="contenu" align="center" width="570" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>                  
                  <table class="contenu" align="center"  width="700" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td>
                        <table class="contenu" align="left" width="350" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td class="padding0" align="center" style="padding-right:27px; mso-table-lspace:0; mso-table-rspace:0;">
                            <div class="center"><img border="0" src="../images/FreeScreens.png" width="300" height="300">
                            </div></td>
                          </tr>
                          <tr style="mso-table-lspace:0; mso-table-rspace:0;">
                            <td></td>
                          </tr>
                        </table>
                        <table class="contenu" width="350" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td class="padding0" style="padding-right:26px; mso-table-lspace:0; mso-table-rspace:0; line-height:27px">
                            <div class="center">
                            <font size=6 color="#2e3b4e" face=Arial>Bienvenido a ACSION</font><br><br>
                            <font size=2 color="#5f6a7d" face=Arial>Reporte de avance de actividades comerciales pexport
                            <br/><b> Gracias por usar ACSION </b>
                            </div> </td>
                          </tr>
                          <tr >
                            <td style="padding-top:20px" class="center" align="center"><a href="http://pexport.net"><img border="0" src="images/image_23.png" width="178" height="56"></a></td>
                          </tr>
                          <tr >
                            <td style="padding-bottom:40px" class="center" align="center"><a href="http://www.pexport.com.pe:9090/Asignacion/"><img border="0" src="images/image_22.png" width="178" height="56"></a></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table  class="conteneur" align="center" width="750" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td background="images/bg.jpg" bgcolor="#2e3b4e" style="border-top:2px solid #007ab2" >
                  <table class="contenu" align="center"  width="600" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td >
                        <table class="contenu" align="left" width="184" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td>
                              <table class="contenu" align="center" width="184" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td class="center" style="mso-table-lspace:0; mso-table-rspace:0">
                                    <table class="contenu" align="left" width="14" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td class="center" style=" padding:15px 0; mso-table-lspace:0; mso-table-rspace:0"></td>
                                      </tr>
                                    </table>
                                    <table class="contenu" align="left" width="31" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td class="none">&nbsp;</td>
                                      </tr>
                                    </table>
                                    <table class="contenu" width="137" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td class="center" style="line-height:19px"><font size=2 color="#8e959c" face=Arial>
                                        <strong>PEXPORT S.A.C.  </strong>
                                        </font><br>
                                        <font size=2 color="#8e959c" face=Arial>
			                              Sucursal Chiclayo<br>
			                              Av. Chinchaysuyo 1203 – La Victoria
                                        </font></td>
                                      </tr>
                                    </table> 
                                  </td>
                                </tr>
                              </table>
                            </td>                           
                          </tr>
                        </table> 
                        <table class="contenu" align="left" width="180" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="padding:15px 0;  mso-table-lspace:0; mso-table-rspace:0">
                              <table class="contact" align="center" width="184" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td class="center" align="right"><font size=2 color="#fff" face=Arial>
                                        </font></td>
                                  <td>
                                  </td>
                                </tr>
                              </table>
                            </td>                           
                          </tr>
                        </table>  
                        <table class="contenu" width="184" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="padding: 0;  mso-table-lspace:0; mso-table-rspace:0; ">
                              <table class="contact" align="center" width="184" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td class="center" Style="line-height:19px;" align="right"><font size=2 color="#8e959c" face=Arial>
                                          Env&iacute;o autom&aacute;tico <br/>
                                          Reporte diario<br/>
                                        </font></td>
                                  <td></td>
                                </tr>
                              </table>
                            </td>                           
                          </tr>
                        </table>   
                      </td>
                    </tr>
                  </table>
                  <table class="contenu" align="center"  width="570" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style=" 0">
                        <table class="contenu" align="center" width="570" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center">
                          </tr>
                        </table>            
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            
            
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
