<?php

date_default_timezone_set('America/Lima');

//require "../conexion.php";
require_once(APP."View/Main/conexion.ctp");

$query = pg_query("select * from GlobalMaster_UbicacionRegla");

$lista="


<div class='row'> 
<div class='col-sm-12 col-md-12'>
        <div class='block-flat'> 
  
    <div class='form-group'>
                <label class='col-sm-3 control-label'>Ver otra Regla</label>
                <div class='col-sm-6'>
                  <select id='reglaubicacion' class='form-control' onchange='showAsig1()'>
                  <option value=''>Seleccione Regla a Visualizar</option>";
                  while ($retorno = pg_fetch_object($query)){
                   $id = $retorno->idubicacionregla;
                   $var= $retorno->nomubicacionregla;

                   $lista.="<option value='$id'>$var</option>
                    >";
                    }
                  $lista.="</select>                 
                </div>
              </div>

              </br>
              </br>
    <span class='ciclo_loading3' style=''><img src='../js/jquery.select2/select2-spinner.gif'></span> 
    <div id='vistaprev'>

    </div>
      

    </div>
    </div>
    </div>";

echo $lista;

?>