<?php

date_default_timezone_set('America/Lima');

//require "../conexion.php";
require_once(APP."View/Main/conexion.ctp");
$query = pg_query("select IdTipoIntervencion,DetalleTipoIntervencion from ComMovTab_TipoIntervencion where IdTipoIntervencionSup = 0 order by IdTipoIntervencion desc");

$lista="
<div class='row'> 
<div class='col-sm-12 col-md-12'>
        <div class='block-flat'> 
  
    <div class='form-group'>
                <label class='col-sm-3 control-label'>Elegir Tipo de Solicitud</label>
                <div class='col-sm-6'>
                  <select id='archivotipo' class='form-control' onchange='showImp3()'>
                  <option value=''>Seleccione Tipo</option>";
                  while ($retorno = pg_fetch_object($query)){
                   $id = $retorno->idtipointervencion;
                   $var= $retorno->detalletipointervencion;

                   $lista.="<option value='$var'>$var</option>
                    >";
                    }
                  $lista.="</select>                 
                </div>
              </div>

              </br>
              </br>

    <div id='vistaprev'> 
    </div>
      

    </div>
    </div>
    </div>";

echo $lista;
?>