	<div class="page-aside tree" id='pageContent' style='height: 100%;'>
		<div class="fixed nano nscroller">
			<div class="content">
				<span class="ciclo_loading" style=""><img
					src="../js/jquery.select2/select2-spinner.gif">
				</span>
				<div id="menuarbol"  style="height: 100%; background-color: #fff;"></div>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="pcont">
		<div id='cabeza'></div>
		<div class="cl-mcont">
			<span class="ciclo_loading2" style=""><img
				src="../js/jquery.select2/select2-spinner.gif">
			</span>

			<div id='dashboardresumen' data-position="left" data-step="2"
				data-intro="Cada opcion que elijas cargara su contenido aqui!.">
			</div>
		</div>
	</div>
<script>
$(document).ready(function(){
	showMas1();
});
</script>