

	<div class="container-fluid" id="pcont"  >

		<div id='cabeza'></div>	
		
		<div class="cl-mcont"  style="position: absolute; width: 100%;">
				<div class="content">
					<span class="ciclo_loading2" style=""><img
						src="<?php echo FULL_URL ?>js/jquery.select2/select2-spinner.gif">
					</span>

					<div id='dashboardresumen' data-position="left" data-step="2"
						data-intro="Cada opcion que elijas cargara su contenido aqui!.">
					</div>
				</div>
		</div>
	</div>

	<div id='pageContent' class="page-aside app filters tree " style="height: 100%;"  >
		<div class="fixed nano nscroller" style="background-color:#e4e4e4;">
			<div class="content">
				<span class="ciclo_loading" style=""><img
					src="<?php echo FULL_URL ?>js/jquery.select2/select2-spinner.gif">
				</span>

				<div id="menuarbol" style=" "></div>

			</div>
			
		
		</div>

	</div>

<script>
$(document).ready(function(){
	<?php if(isset($pendientes) && $pendientes=='pendienteactual'){?>
	showMon(2,'open');showArbolMon('open');
	<?php }else if(isset($pendientes) && $pendientes=='pendientemayor2dias'){?>
	showArbolMon('open_pendientes_2');
	<?php }else if(isset($pendientes) && $pendientes=='pendienteexportado2dias'){?>
	showArbolMon('open_pendientes_exportado_2');
	<?php }else{?>
	showMonAv();showArbolMon("open");
	<?php }?>
});
</script>