<?php

//require_once "../conexion.php";
require_once(APP."View/Main/conexion.ctp");

if(isset($_GET['sel'])) 
{
     $id=$_GET["sel"];

}
else 
{
     $id=0;
}


$query = pg_query(" select 
CMI.IdMaestrosIntervencion as IdMaestrosIntervencion,
                        CMI.EtiquetaMaestroIntervencion as EtiquetaMaestroIntervencion,
                        CMI.TipoDatoMaestroIntervencion as control,
                        CMI.RaizMaestroIntervencion
 from ComMovTab_MaestrosIntervencion CMI
 where CMI.TipoDatoMaestroIntervencion='grupo' 
 order by CMI.PosicionMaestroIntervencion asc");

$lista="</br>
      <div class='form-group'>
      <div class='col-sm-10'>";

        $sqlcompara="select 
				CMTI.IdTipoIntervencion as IdTipoIntervencion,
				CMI.IdMaestrosIntervencion as IdMaestrosIntervencion,
				CMI.EtiquetaMaestroIntervencion as EtiquetaMaestroIntervencion,
				CMI.TipoDatoMaestroIntervencion as control,
				CMI.RaizMaestroIntervencion
				from ComMovTab_MaestrosIntervencion CMI
				left join ComMovTab_TipoMaestrosIntervencion CMTI
				on CMTI.IdMaestrosIntervencion = CMI.IdMaestrosIntervencion
				where CMI.TipoDatoMaestroIntervencion='grupo' and CMTI.IdTipoIntervencion=$id 
				order by CMI.PosicionMaestroIntervencion asc";
        $nr=pg_num_rows($query);

        
         if ($nr > 0){

                $rscompara = pg_query($sqlcompara) or die($sqlcompara);

                $varcompara2= array();
                                                while ($retornocom = pg_fetch_object($rscompara)){
                                                    $varcomsum=$retornocom->idmaestrosintervencion;
                                                    $varcompara2[]=$varcomsum;
                                                }


                while ($retorno = pg_fetch_object($query)){
                   $id = $retorno->idmaestrosintervencion;
                   $var= $retorno->etiquetamaestrointervencion;

                   if (in_array($id, $varcompara2)) {


                   $lista.="<div class='radio'> 
                    <label> <input type='checkbox' checked='checked' name='check1' value='$id' onclick='updateDesign($id)'  class='icheck'> $var</label> 
                  	</div>
                    ";
                } else {
                	$lista.="<div class='radio'> 
                    <label> <input type='checkbox'  name='check1' value='$id' class='icheck' onclick='updateDesign($id)' > $var</label> 
                  	</div>
                    ";
                	}
                    }
                $lista.="</div>
              </div>";
               } else {
                $lista='No hay registros';
                }
echo $lista;
?>