<?php

date_default_timezone_set('America/Lima');

//require "../conexion.php";
require_once(APP."View/Main/conexion.ctp");
$query = pg_query("select * from ComMovTab_TipoIntervencion where IdTipoIntervencionSup!=0");

$lista="

<div class='row'> 
<div class='col-sm-8 col-md-8'>
    <div class='/*block-flat*/' style='background-color:#23262B;border-left:0px;'> 
  
    <div class='form-group'>
                <label class='col-sm-3 control-label'>Elegir</label>
                <div class='col-sm-6'>
                  <select id='tipoformulario' class='form-control' onchange='showDesign1()'>
                  <option value='0'>Seleccione Formulario</option>";
                  while ($retorno = pg_fetch_object($query)){
                   $id = $retorno->idtipointervencion;
                   $var= $retorno->detalletipointervencion;
                   $lista.="<option value='$id'>$var</option>
                    >";
                    }
                  $lista.="</select>                 
                </div>
              </div>

              </br>
              </br>
    
    <span class='ciclo_loading3' style=''><img src='../js/jquery.select2/select2-spinner.gif'></span> 
    
    <div id='vistaprev'>

    <iframe id='modalacta2' class='preview-pane' src='".FULL_URL."movil/formulario5' width='100%' height='400' frameborder='0'></iframe>

    </div>
    
    </div>

    </div>

    <div class='col-sm-4 col-md-4'>
    <div id='listado'>
      
    </div>

    </div>

    </div>";

echo $lista;

?>