<?php
date_default_timezone_set('America/Lima');
//require "../conexion.php";
require_once(APP."View/Main/conexion.ctp");

$query = pg_query("select * from ComMovTab_Usuario where IdEstado = '3'");

$query2 = pg_query("select 
UD.IdUsuarioDispositivo as IdUsuarioDispositivo,
U.idusuario as IdUsuario,
U.nomusuario as NomUsuario,
UD.idequipo as IdEquipo,
UD.imei as Imei,
UD.estado as Estado 
from Usuario_Dispositivo UD inner join ComMovTab_Usuario U
on UD.IdUsuario = U.IdUsuario");

$lista="

	

    <div class='row'>
      <div class='col-sm-12 col-md-12'>
        <div class='block-flat'>

		<div class='panel-group accordion accordion-semi' id='accordion4'>
							  <div class='panel panel-default'>
								<div class='panel-heading success'>
								  <h4 class='panel-title'>
									<a data-toggle='collapse' data-parent='#accordion4' href='#ac4-1'>
										<i class='fa fa-angle-right'></i> Asignar Equipo a Usuario
									</a>
								  </h4>
								</div>
								<div id='ac4-1' class='panel-collapse collapse in'>
								  <div class='panel-body'>
									
								              <div class='content'>

												          <form role='form' id='formasignaequipo' method='post' style='width:60%;'> 


												          <div class='form-group'>";

											                $lista.= "<label>Nombre Usuario:</label> </br>
											                <select class='select2'  id='usuarios' name='usuarios'><option value='0'>Todos</option>";
											                 while ($retorno = pg_fetch_object($query)){
																		$lista.= "<option value='$retorno->idusuario'>$retorno->nomusuario</option>";
																	}
											                $lista.= "</select>
											                </div>


												            
												            <div class='form-group'> 
												              <label>Codigo Unico de Dispositivo (movil/tableta)</label> <input type='text' id='imei' name='imei'  placeholder='Codigo Unico' class='form-control'>
												            </div> 
												              <button class='btn btn-danger' type='button' onclick='crudasignaequipo(1)'>Grabar</button>
												              <button class='btn btn-default' type='button'>Cancelar</button>
												          </form>
											          
											          </div>     

								  </div>
								</div>
							  </div>
				</div>

			      <div class='row'>
			        <div class='col-md-12'>
			          <div class='block-flat'>

			            

			            <div class='content'>
			            <div class='tabla5'>

			          
			            <div class=''>

			              <div class='table-responsive'>
			              <form role='form' id='formasignaequipocrud' method='post'> 
			                <table class='no-border' id='datatable6'>

			                  <thead class='primary-emphasis'>
			                    <tr>
			                      <th></th>
			                      <th>Codigo</th>
			                      <th>Nombre Usuario</th>
			                      <th>Equipo</th>
			                      <th>Imei</th>
			                      <th>Estado</th>
			                    </tr>

			                  </thead>
			                  <tbody class='no-border'>";


			                    while ($retorno = pg_fetch_object($query2)){

			                       $var=utf8_decode($retorno->idusuariodispositivo);
			                       $var1=utf8_decode($retorno->nomusuario);
			                       $var11=utf8_decode($retorno->idusuario);
			                       $var2=utf8_decode($retorno->idequipo);
			                       $var3=utf8_decode($retorno->imei);
			                       $var4=utf8_decode($retorno->estado);  

			                       $lista.= "<tr class='odd gradeX'>

			                                  

			                                  <input type ='hidden' id='idusuasignaequipo[]' name='idusuasignaequipo[]' value='$var'>
			                                  <td style='width:1%;'><input type ='checkbox' id='idusuasignaequipochk[]' name='idusuasignaequipochk[]' value='$var' ></td>
			                                  <td style='width:1%;'>$var</td>

			                              
			                                  <td style='width:20%;'><select class='form-control' id='idusuasignaequipoa[]' name='idusuasignaequipoa[]' value='$var1' >
						                                      <option value='$var11'>$var1</option>
						                                      ";
						                                  $querydetasi1 = pg_query("select * from ComMovTab_Usuario where IdEstado = 3 and IdUsuario !=$var11 ");
						                                   while ($retornodet = pg_fetch_object($querydetasi1)){
						                                    $idusua=$retornodet->idusuario;
						                                    $nomusua=$retornodet->nomusuario;

						                                    $lista.="<option value='$idusua'>$nomusua</option>"; 
						                                   } 
						                                  $lista.="</select></td>
			                                  <td style='width:30%;'><input type='text' id='idequipoasignaequipo[]' name='idequipoasignaequipo[]'  value='$var2' class='form-control'></td>
			                                  <td style='width:30%;'><input type='text' id='imeiasignaequipo[]' name='imeiasignaequipo[]'  value='$var3' class='form-control'></td>
			                                  <td style='width:30%;'><input type='text' id='idestadoasignaequipo[]' name='idestadoasignaequipo[]'  value='$var4' class='form-control'></td>
			                                </tr>";
			                       }
			                  $lista.="</tbody>

			                </table>
			                <button class='btn btn-success' type='button' onclick='crudasignaequipo(2)'>Grabar</button>
			                <button class='btn btn-danger' type='button' onclick='crudasignaequipo(3)'>Eliminar</button>

			              </form>              
			              </div>

			              </div>
			              </div>
			              
			            </div>
			          </div>        
			        </div>

			      </div>




    </div>
    </div>
    </div>";

echo $lista;

?>