<?php

date_default_timezone_set('America/Lima');

$lista="
	
    <div class='row'>
      <div class='col-sm-12 col-md-12'>
        <div class='block-flat'>
        	<button class='btn btn-danger' type='button' onclick='eliminarconvertirarchivo()'>Auto Destruccion</button>
          <button class='btn btn-danger' type='button' onclick='actualizarconvertirarchivo()'>Soy Haragan</button>
        </div>				
      </div>
      

	</div>";

echo $lista;

?>