<?php

date_default_timezone_set('America/Lima');

//require "../conexion.php";
require_once(APP."View/Main/conexion.ctp");

$query = pg_query("select IdTipoIntervencion,DetalleTipoIntervencion from ComMovTab_TipoIntervencion where IdTipoIntervencionSup = 0 order by IdTipoIntervencion desc");


$lista="



<div class='row'> 
<div class='col-sm-12 col-md-12'>
        <div class='block-flat'> 
    

              <form enctype='multipart/form-data' action='".FULL_URL."main/insertar_archivo' method='POST' ajax='false' autocomplete='off' style='width:100%;'>
                              	<div class='form-group'>
				                <label class='col-sm-3 control-label'>Elegir Tipo de Solicitud</label>
				                <div class='col-sm-6'>

              					<select id='archivotipo' name='archivotipo' class='form-control' required>
				                  <option value=''>Seleccione Tipo</option>";
				                  while ($retorno = pg_fetch_object($query)){
				                   $id = $retorno->idtipointervencion;
				                   $var= $retorno->detalletipointervencion;

				                   $lista.="<option value='$id'>$var</option>
				                    >";
				                    }
				                  $lista.="</select>
								</div>
								</br>
              					  </br>  
              					  </br>  
              					  </br>   
              					</div>


                                <div class='fileupload fileupload-new' data-provides='fileupload'>
                                    <div class='fileupload-preview thumbnail' style='width:20%;height:20%;'></div>
           
                                    <div class='uneditable-input span4'><i class='icon-file fileupload-exists'></i>
                                      <input type='file' id='archivos' name='archivos' required/>
                                    </div>
                                    <br>
                                    <a href='#' class='btn fileupload-exists' data-dismiss='fileupload'>Remover Archivo</a>
                                
                               		<button type='submit' class='btn btn-small btn-danger' onclick=''>Subir Archivo</button>
                                </div>

      							 </form>
      							
</div>
</div>
</div>";

echo $lista;

?>