<?php

date_default_timezone_set('America/Lima');

//require_once "../conexion.php";
require_once(APP."View/Main/conexion.ctp");

$query = pg_query("select IdTipoIntervencion,DetalleTipoIntervencion from ComMovTab_TipoIntervencion where IdTipoIntervencionSup = 0 order by IdTipoIntervencion desc");


$lista="
<div class='row'> 
<div class='col-sm-12 col-md-12'>
        <div class='block-flat'> 
    

              <form action='#' method='POST' ajax='false' autocomplete='off' style='width:100%;'>
                              	<div class='form-group'>

				                <label class='col-sm-3 control-label'>Elegir Tipo de Solicitud</label>
				                <div class='col-sm-6'>

              					<select id='archivotipo' name='archivotipo' class='form-control' required>
				                  <option value=''>Seleccione Tipo</option>";
				                  while ($retorno = pg_fetch_object($query)){
				                   $id = $retorno->idtipointervencion;
				                   $var= $retorno->detalletipointervencion;

				                   $lista.="<option value='$id'>$var</option>
				                    >";
				                    }
				                  $lista.="</select>
      								</div>
      								</br>
              					</div>
                        </br>
                        </br>
                        </br>

                       
                        <a class='btn btn-info'  target='_blank'  href='http://54.148.234.164/Ws.Asignacion/api/oth/index.php/getot/'  >Descargar SPexport</a>
                        <a class='btn btn-danger'  target='_blank'  href='http://54.148.234.164/Ws.Asignacion/api/oth/index.php/setot/'  >Enviar SPexport</a>

                        <!--
                        <a class='btn btn-info'  target='_blank'  href='./Ws.Asignacion/api/oth/index.php/getot/'  >CONSULTAR WEB SERVICE PEXPORT</a>
                        <a class='btn btn-info'  target='_blank'  href='http://192.168.1.223:9090/Ws.Asignacion/api/oth/index.php/getot/'  >CONSULTAR WEB SERVICE SERVIDOR</a>
                        <a class='btn btn-info'  target='_blank'  href='http://192.168.1.150:8080/Ws.Asignacion/api/oth/index.php/getot/'  >CONSULTAR WEB SERVICE SISTEMAS</a>
                        -->
      							 </form>
      							
</div>
</div>
</div>";

echo $lista;

?>