	
<div class="md-modal md-effect-2" id="md-slideLeft">
<div class="md-content" style="width:160%;margin-top:10%;">
  <div class="modal-header">
	<button type="button" class="close md-close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body" style="zoom:1;">
	<div class='tabla'>
	<div class='farmsmall'>
  
	<div id="modal_create_libro">
		
	</div>
	</div>
	</div>
  </div>
  
</div>
</div>
<div class="md-overlay"></div>