 <!-- BUTTON -->
	<div class="buttons" id="download-button">
		
		<a href="<?php echo ENV_WEBROOT_FULL_URL ?>usuarios/login" class="btn btn-primary btn-lg standard-button fancybox fancybox.iframe"><i class="icon-app-download"></i>Iniciar Sesi&oacute;n</a>
		
	</div>
<!-- /END BUTTONS -->
 
 	<!-- YOUR-IMAGE-HERE
            <div class="span4">
	            <a href="iframe.html" class="fancybox fancybox.iframe">
	            	<img src="http://balsq.com/themeforest/neko/solid-bg/top-bar/img/mockup/main-phone.png" alt="App Screen" class="phoneScreen text-center">
	            </a>
            </div>-->