<table class="table table-bordered" id="datatable-reporte-comentario" >
	<thead class="primary-emphasis">
		<tr>
			<th>Fecha</th>
			<th>Usuario</th>
			<th>Comentario</th>
		</tr>
	</thead>
	<tbody>
<?php 
	foreach ($obj_comentarios as $obj_comentario){
?>
	<tr>
		<td><?php echo substr($obj_comentario['0']["fecha"],0,19);?></td>
		<td><?php echo $obj_comentario['0']["nombre"];?></td>
		<td><?php echo $obj_comentario['0']["comentario"];?></td>
	<tr>
<?php } ?>										
	</tbody>
</table>