<div class="container-fluid" id="pcont">
<div class="cl-mcont">
<table id="tabla_xml" border="1">
	<thead>
		<tr>
			<th>Suministro</th>
			<th>Direcci&oacute;n</th>
			<th>Lectura</th>
			<th>Obs</th>
			<th>SerieFab</th>
			<th>Foto</th>
		</tr>
	</thead>
	<tbody>
<?php
foreach ( $listar_orden_lecturas as $k => $obj ) {
	?>
	<tr>
		<td><?php echo $obj[0]['suministro'];?></td>
		<td><?php echo $obj[0]['direccion'];?></td>
		<td><?php echo $obj[0]['lecturao1'];?></td>
		<td><?php echo $obj[0]['codigofac'];?></td>
		<td><?php echo $obj[0]['seriefab'];?></td>
		<td><img src="data:image/png;base64,<?php echo $this->Image->applyWatermark(trim($obj[0]['foto1']),$obj[0]['fechaejecucion1'])?>" /></td>
	</tr>
	<?php
}
?>
</tbody>
</table>
</div>
</div>
<script>
//require(['ajax/ordenlecturas'],function(){
	//$('#tabla_xml').dataTable();
//});
</script>