.ui-collapsible-heading.ui-collapsible-heading-collapsed {
    width: 100% !important;
}


.ui-select select {
    border: 0 none !important;
    border-radius: 15px !important;
    left: 0 !important;
    padding: 10px !important;
    position: relative !important;
    top: 0 !important;
    width: 100% !important;
}