/*  .ui-icon-refresh {
    background-position: -362px 0px !important;
}

.ui-icon-gear {
    background-position: -322px 0px;
}

.ui-icon-minus {
    background-position: -41px 0px;
}

.ui-icon-search, .ui-icon-searchfield:after {
    background-position: -683px 0px;
}

.ui-icon-arrow-r {
    background-position: -122px 0px;
}

.ui-icon-plus {
    background-position: -1px 0px;
}

.ui-icon-delete {
    background-position: -82px 0px;
}

.ui-icon-check {
    background-position: -282px 0px;
}

.ui-icon-back {
    background-position: -442px 0px;
}

.ui-icon-arrow-d {
    background-position: -242px 0px;
} */

.ui-collapsible-heading {
    width: 100% !important;
}

.botones{
	margin: 0 10%;
} 

#pop {
   z-index:9999999;
   position:absolute;
   width: 100%;
   height: 100%;
   border: 1px solid #333333;
   margin: 0;
   background:#000000;
}

#37:parent 
{
width: 10px !important;
}