<div class="alert alert-danger alert-white rounded">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<div class="icon"><i class="fa fa-times-circle"></i></div>
	<strong>Error!</strong> <?php echo $message;?>
</div>