<h1>Cambio de datos de Suministro, después de envío a Distriluz&nbsp;</h1>

Suministro: <?php echo $suministro;?>&nbsp;
<table border="1">
<thead>
<tr><th style="width: 110px;"></th><th>Anterior&nbsp;</th><th>Nuevo&nbsp;</th></tr>
</thead>
<tbody>
<tr><td>Lectura&nbsp;</td><td><?php echo $lectant;?>&nbsp;</td><td><?php echo $lectact;?>&nbsp;</td></tr>
<tr><td>Observaci&oacute;n&nbsp;</td><td><?php echo $obsant;?>&nbsp;</td><td><?php echo $obsact;?>&nbsp;</td></tr>
<tr><td>Resultado&nbsp;</td><td><?php echo $resultadoevaluacionant;?>&nbsp;</td><td><?php echo $resultadoevaluacion;?>&nbsp;</td></tr>
<tr><td>Usuario&nbsp;</td><td colspan="2"><?php echo $usuario;?>&nbsp;</td></tr>
<tr><td>Fecha&nbsp;</td><td colspan="2"><?php echo $fecha;?>&nbsp;</td></tr>
<tr><td>Comentario&nbsp;</td><td colspan="2"><?php echo $comentario;?>&nbsp;</td></tr>
</tbody>
</table>