<div class="container-fluid">
	<div class="cl-mcont">
		<div class="row">
			<div class="col-md-12">
				<form class="form-horizontal" action="">
				<?php echo $this->Formulario->getForm($json_form);?>
				</form>
			</div>
		</div>
	</div>
</div>