<div class="page-aside app tree" id="pageContent">
	<div class="fixed nano nscroller has-scrollbar">
		<div class="content" tabindex="0" style="right: -15px;">
			<div class="header">
				<button class="navbar-toggle" data-target=".treeview"
					data-toggle="collapse" type="button">
					<span class="fa fa-chevron-down"></span>
				</button>
				<h2 class="page-title">Tipo Objeto</h2>
				<p class="description">Mantenimiento</p>
			</div>
			<?php echo $this->element('menu_mantenimiento'); ?>
		</div>

		<div class="pane" style="display: block;">
			<div class="slider" style="height: 428px; top: 0px;"></div>
		</div>
	</div>
</div>
<div class="container-fluid" id="pcont">
	<div id="cabeza">
		<div class="page-head" style="padding: 0px 0px;">
			<ol class="breadcrumb">
				<li><button type="button" class="btn btn-default btn-xs"
						onclick="arbol()">
						<i class="fa fa-arrows-h"></i>
					</button></li>
				<li><a href="#">Mantenimiento</a></li>
				<li><a href="#">Tipo Objeto</a></li>
				<li class="active">Listado</li>
			</ol>
		</div>
	</div>
	<div class="cl-mcont">

		<div class="row">
			<div class="col-md-12">
				<div class="block-flat">
					<div class="header">
						<h3>Tipos de Objeto</h3>
						<a href="<?php echo FULL_URL;?>tipo_objeto/nuevo" class="btn btn-primary pull-right" style="margin-top: -40px;">Nuevo</a>
					</div>
					<div class="content">
					
						<?php echo $this->Session->flash(); ?>
					
						<div class="table-responsive">
							<table class="table table-bordered" id="datatable">
								<thead>
									<tr>
										<th>Id</th>
										<th>Nombre</th>
										<th>Descripci&oacute;n</th>
										<th>Salida</th>
										<th>Tiene Datos</th>
										<th>Tiene Objetos</th>
										<th>Acci&oacute;n</th>
									</tr>
								</thead>
								<tbody>
										<?php 
										//debug($arr_obj_tipo_objeto);exit;
										foreach ($arr_obj_tipo_objeto as $k => $obj_tipo_objeto){
										?>
										<tr>
											<td><?php echo $obj_tipo_objeto->getID();?></td>
											<td><?php echo $obj_tipo_objeto->getAttr('nombre');?></td>
											<td><?php echo $obj_tipo_objeto->getAttr('descripcion');?></td>
											<td><?php echo $obj_tipo_objeto->getAttr('salida');?></td>
											<td>
											<?php 
											if($obj_tipo_objeto->getAttr('datos')=='I'){
												echo 'Internos';
											}elseif($obj_tipo_objeto->getAttr('datos')=='E'){
												echo 'Externos';
											}
											?>
											</td>
											<td><?php echo ($obj_tipo_objeto->getAttr('objetos')?'Si':'No');?></td>
											<td>
												<div class="btn-group">
													<button type="button" class="btn btn-default">Acci&oacute;n</button>
													<button type="button"
														class="btn btn-primary dropdown-toggle"
														data-toggle="dropdown">
														<span class="caret"></span> <span class="sr-only">Seleccionar</span>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li><a href="<?php echo FULL_URL;?>tipo_objeto/editar/<?php echo $obj_tipo_objeto->getID();?>">Editar</a></li>
														<li><a href="<?php echo FULL_URL;?>tipo_objeto/eliminar/<?php echo $obj_tipo_objeto->getID();?>">Eliminar</a></li>
													</ul>
												</div>
											</td>
										</tr>
										<?php }?>
									</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>