<div id="dialog-lecturas-inconsistencias" title="Lecturas por Suministro">
	<span class="dialog_loading" style="display: none;"><img
		src="<?php echo ENV_WEBROOT_FULL_URL ?>/js/jquery.select2/select2-spinner.gif">
		Cargando...</span>
	<div id='inconsistencia-suministro'></div>
</div>