<?php 
if ((isset($id_usuario) && $id_usuario == 25) || (isset($id_usuario) && $id_usuario == 131)){
	//$id_usuario 25 Usuario 1
	$modulo_permiso = array("dashboard","monitorearlectura",'monitoreargps','extranet','rep_historico','rep_comparar_periodo','rep_consumo_por_dia_y_ubicacion','rep_detallado_ciclo','cronograma');
}elseif (isset($id_usuario) && $id_usuario == 69){//jsanchez
	$modulo_permiso = array("dashboard","evaluarinconsistencia", "extranet", "importar", "listarciclosector", "monitorearlectura",'monitoreargps', "digitarlecturas",'usuarios','rep_observaciones','rep_personal_para_lectura','rep_historico','rep_ordenes_por_observacion','rep_mineria','rep_mineria2','rep_comparar_periodo','rep_consumo_por_dia_y_ubicacion','rep_suministros_cronograma','rep_detallado_ciclo','reporte_ordenes_historico','importarlecturas','cronograma','fac_wizard','fac_pliegos','fac_list_facturas');
}elseif (isset($id_usuario) && $id_usuario >= 132 && $id_usuario <= 141){//digitadores trux
	$modulo_permiso = array("digitarlecturas");
}else {
	$modulo_permiso = array("dashboard","evaluarinconsistencia", "extranet", "importar", "listarciclosector", "monitorearlectura",'monitoreargps', "digitarlecturas",'usuarios','rep_observaciones','rep_personal_para_lectura','rep_historico','rep_ordenes_por_observacion','rep_comparar_periodo','rep_consumo_por_dia_y_ubicacion','rep_suministros_cronograma','rep_detallado_ciclo','reporte_ordenes_historico','importarlecturas','cronograma','fac_wizard','fac_pliegos','fac_list_facturas');
}


    if($permiso_lectura!='true'){

   ?>
  
		<script type="text/javascript">
		<!--
		function delayer(){
			window.location.href = "<?php echo ENV_WEBROOT_FULL_URL ?>/Usuarios/logout";
		}
		//-->
		</script>
		
		<body onLoad="setTimeout('delayer()', 500)">
  		<h2>Ups!!! Usted no tiene permisos para este modulo.</h2>
  		<p>Contacte con el Administrador del Sistema para los respectivos Accesos!</p>
  		
  		<p>Por seguridad esta pagina se direccionara de manera automatica al Login, espere Por Favor.</p>
		</body>

    <?php 
      exit();		
      }
    ?>


