<div class="container-fluid" id="pcont">
	<div id='cabeza'></div>
	<div class="cl-mcont" style="position: absolute; width: 100%;">
		<span class="ciclo_loading2" style=""><img
			src="<?php echo FULL_URL ?>js/jquery.select2/select2-spinner.gif">
		</span>
		<div class="col-lg-12">
			
			<div id='dashboardresumen' data-position="left" data-step="2"
				data-intro="Cada opcion que elijas cargara su contenido aqui!.">
			</div>
		</div>

	</div>
</div>

<script>
$(document).ready(function(){
	showDash();
	//showHome();
	list(madre);
});
</script>