<?php  
if(isset($navegacion) && $navegacion="monitoreo"){
	$lista2="<div class='page-head' style='padding:0px 0px;'>
			<ol class='breadcrumb'>
			<li><button type='button' class='btn btn-default btn-xs' onclick='arbol()'><i class='fa fa-arrows-h'></i></button>
			<button type='button' class='btn btn-default btn-xs' onclick='sintesis()'><i class='fa fa-arrows'></i></button>
			</li>

			<li><a href='#''>Monitorear</a></li>
			<li><a href='#''>Reclamo</a></li>
			<li class='active'>Reclamo por Exceso de Consumo</li>
			</ol>
			</div>";
}
echo $lista2;
?>