<?php
date_default_timezone_set('America/Lima');
/*timer = setTimeout('auto_reload()',5000);*/

require_once(APP."View/Main/conexion.ctp");
//require ("../conexion.php");


if(isset($_GET['id'])) 
{
     $id=$_GET["id"];

}
else 
{
     $id=10;
}


?>


<!DOCTYPE html> 
<html> 
<head> 
    <title>Pexport Movil</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="<?php echo FULL_URL;?>movil-s/themes/dyd.min.css" />
    <link rel="stylesheet" href="<?php echo FULL_URL;?>movil-s/css/jquery.mobile.structure-1.4.2.min.css" />
    <link rel="stylesheet" href="<?php echo FULL_URL;?>movil-s/css/pexport.css" />
    <script type="text/javascript" src="<?php echo FULL_URL;?>movil-s/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="<?php echo FULL_URL;?>movil-s/js/jquery.mobile-1.4.2.min.js"></script>


    
    <!--

    <link rel="stylesheet" href="jquery.mobile-1.3.2.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="jquery.mobile-1.3.2.min.js"></script> 
    !-->
    <script>
    function showhijo(){
		var seleccion=document.getElementById('multimaestro1').value;
		$('#hereda').load('<?php echo FULL_URL;?>movil/momovil_sultimaestro?sel='+seleccion,function(){
    	});
    }

    </script>

</head> 
<body> 

<div data-role="page" data-theme="a">

    <div data-role="header">
        <h1><img src="../images/logo_ensa4.gif" width="100px" height="35px"/></h1>
        <!--<a href="#modal" data-icon="back" class="ui-btn-left" >Regresar</a>
        <a href="#modal" data-icon="refresh" class="ui-btn-right" >Opciones</a> -->
    </div><!-- /header -->

    <div data-role="content"  style="background-size:100%;">


        <div class='ui-bar ui-bar-a'>

                <div data-role='fieldcontain' class='ui-field-contain ui-body ui-br'>
                <label for='name-a' class=''>Actividad:</label>
                <input type='text' name='name' id='name-a' value='' >
                </div>
                <div data-role='fieldcontain' class='ui-field-contain ui-body ui-br'>
                <label for='name-a' class=''>Nro Atencion:</label>
                <input type='text' name='name' id='name-a' value='' >
                </div>

        <?php
        $query = pg_query("select 
            CMI.IdMaestrosIntervencion as IdMaestrosIntervencion,
                        CMI.EtiquetaMaestroIntervencion as EtiquetaMaestroIntervencion,
                        CMI.TipoDatoMaestroIntervencion as control,
                        CMI.RaizMaestroIntervencion from ComMovTab_TipoMaestrosIntervencion CMTI
            inner join ComMovTab_MaestrosIntervencion CMI on CMTI.IdMaestrosIntervencion = CMI.IdMaestrosIntervencion
            where IdTipoIntervencion=$id and CMI.TipoDatoMaestroIntervencion='grupo' order by PosicionMaestroIntervencion asc");



         while ($retorno = pg_fetch_object($query)){

            $var=$retorno->idmaestrosintervencion;
            $vartitulo=$retorno->etiquetamaestrointervencion;

            $lista="

            <div data-role='collapsible' data-collapsed='true' data-theme='e' data-content-theme='a' data-inset='false'>
                <h3 style='width:200px;''>$vartitulo $var</h3>";

            $query2 = pg_query("select IdMaestrosIntervencion,IdentificadorMaestroIntervencion,
                TipoDatoMaestroIntervencion as control,
                EtiquetaMaestroIntervencion,RaizMaestroIntervencion,PosicionMaestroIntervencion from ComMovTab_MaestrosIntervencion
            where RaizMaestroIntervencion::INT4=$var 
            order by PosicionMaestroIntervencion asc");
            while ($retorno2 = pg_fetch_object($query2)){

            $var2=$retorno2->idmaestrosintervencion;
            $var2titulo=$retorno2->etiquetamaestrointervencion;
            $var2control=$retorno2->control;



                switch ($var2control) {
                    case 'multi':


                        $query3 = pg_query("select IdMaestrosIntervencion,EtiquetaMaestroIntervencion,TipoDatoMaestroIntervencion as control from ComMovTab_MaestrosIntervencion where RaizMaestroIntervencion::INT4 = $var2 order by PosicionMaestroIntervencion asc");

                        $codigo="<div data-role='fieldcontain' class='ui-field-contain ui-body ui-br'>
                        <label for='name-a' class='' >$var2titulo $var2:</label>
                        <div class='ui-select'>
                        <select data-native-menu='false' tabindex='-1' data-theme='b'>
                            <option data-placeholder='true'>Selecciona</option>";

                        while ($retorno3 = pg_fetch_object($query3)){

                            $var3=$retorno3->idmaestrosintervencion;
                            $var3titulo=$retorno3->etiquetamaestrointervencion;
                            $var3control=$retorno3->control;

                            $codigo.="<option value='standard'>$var3titulo</option>";
                            }

                        $codigo.="</select></div>
                        </div>";
                        break;

                    case 'multimaestro':

                        $query4 = pg_query("select IdMaestrosIntervencion,EtiquetaMaestroIntervencion,
                            TipoDatoMaestroIntervencion as control from ComMovTab_MaestrosIntervencion 
                            where RaizMaestroIntervencion::INT4 = 166 order by PosicionMaestroIntervencion asc");

                        $codigo="<div data-role='fieldcontain' class='ui-field-contain ui-body ui-br'>
                        <label for='name-a' class=''>$var2titulo $var2:</label>
                        <div class='ui-select'>
                        <select id='multimaestro1' data-native-menu='false' tabindex='-1' data-theme='b' onchange='showhijo();'>
                            <option data-placeholder='true'>Selecciona</option>";

                        while ($retorno4 = pg_fetch_object($query4)){

                            $var4=$retorno4->idmaestrosintervencion;
                            $var4titulo=$retorno4->etiquetamaestrointervencion;
                            $var4control=$retorno4->control;

                            $codigo.="<option value='$var4'>$var4titulo  $var4</option>";
                            }

                        $codigo.="</select></div>
                        <div id='hereda'>
                        
                        </div>
                        </div>";
                        break;

                    case 'cadena':
                        $codigo="<div data-role='fieldcontain' class='ui-field-contain ui-body ui-br'>
                        <label for='name-a' class=''>$var2titulo $var2:</label>
                        <input type='text' name='name' id='name-a' value='' readonly='readonly'>
                        </div>";
                        break;

                    default :
                        $codigo="<div data-role='fieldcontain' class='ui-field-contain ui-body ui-br'>
                        <label for='name-a' class=''>$var2titulo $var2:</label>
                        <input type='text' name='name' id='name-a' value='' readonly='readonly'>
                        </div>";
                        break;
                }

            $lista.="$codigo";

            }

            $lista.="</div>";

            echo $lista;

            }

        ?>

        </div>

        <div class="ui-bar ui-bar-a" >
                <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <a href="#" data-role="button" data-theme="a" data-inline="true">Grabar Formulario</a>
                <a href="<?php echo FULL_URL?>movil/main" data-role="button" data-theme="a" data-inline="true">Cancelar</a>
                <a href="#artefactos" data-role="button" data-theme="a" data-inline="true">Artefactos</a>
        </div>
        </div>        
    </div><!-- /content -->

</div><!-- /page -->

<div data-role="dialog" id="modal" data-theme="a">
    <div data-role="content" data-theme="a" class="ui-content ui-body-a" role="main">
        <h3>Opciones</h3>
        <a href="dialog-success.html" data-theme="b" data-role="button">Personalizacion</a>     
        <a href="<?php echo FULL_URL?>movil/index" data-theme="b" data-role="button">Cerrar Aplicacion</a>     
        <a href="#artefactos" data-theme="b" data-role="button">Seleccionar</a>     
    </div>
</div>

<div data-role="dialog" id="artefactos" data-theme="a">
    <div data-role="content" data-theme="a" class="ui-content ui-body-a" role="main">
        <h3>Opciones</h3>
        <ul data-role="listview" data-inset="true" data-filter="true" data-ajax="false" data-filter-placeholder="Filtra datos" >
                        <li data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="e" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
          
                                <a href="<?php echo FULL_URL;?>movil/formulario5" class="ui-link-inherit">
                                    <p class="ui-li-aside ui-li-desc"><strong>Fecha Asignacion</strong></p>
                                    <h3 class="ui-li-heading">20020001 Chiclayo SectorA Ruta 2</h3>
                                    <p class="ui-li-desc"><strong>Av Grau #229 - Samuel Ventura Alva</strong></p>
                                    <p class="ui-li-desc">Reclamo - Exceso de Consumo</p>
                                </a>
                        </li>
        </ul>
</div>
</div>

</body>
</html>