<!DOCTYPE html> 
<html> 
<head> 
    <title>Pexport Movil</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="<?php echo FULL_URL?>movil-s/jquery.mobile-1.3.2.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="<?php echo FULL_URL?>movil-s/jquery.mobile-1.3.2.min.js"></script>
</head> 
<body> 

<div data-role="page" data-theme="a">

    <div data-role="header" style="height:15%;">
        <h1>Pexport Movil</h1>
    </div><!-- /header -->

    <div data-role="content" style="background-size:100%;">

    <form action="main.php" method="post" data-ajax="false">
    <div class="ui-grid-b">
    <div class="ui-block-a"></div>
    <div class="ui-block-b">
        <div data-role="fieldcontain" data-theme="c" class="ui-hide-label">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" value="" placeholder="Usuario"/>
            <label for="username">Password:</label>
            <input type="text" name="username" id="username" value="" placeholder="Password"/>
            <input type="submit" data-theme="e" value="Ingresar" />
        </div>
    </div>
    <div class="ui-block-c"></div>
    </div><!-- /grid-b -->
    </form>

        
    </div><!-- /content -->



</div><!-- /page -->

</body>
</html>