<?php

date_default_timezone_set('America/Lima');

require "../conexion.php";

if(isset($_GET['sel'])) 
{
     $sel=$_GET["sel"];

}
else 
{
     $sel=83;
}


$query4 = mssql_query("select IdMaestrosIntervencion,EtiquetaMaestroIntervencion,TipoDatoMaestroIntervencion as control from [ComMovTab.MaestrosIntervencion] where RaizMaestroIntervencion = $sel order by PosicionMaestroIntervencion asc");


$lista5="";

 while ($retorno = mssql_fetch_object($query4)){

            $var4=utf8_decode($retorno->IdMaestrosIntervencion);
            $var4titulo=$retorno->EtiquetaMaestroIntervencion;
            $var4control=$retorno->control;

			switch ($var4control) {
                    case 'multi':


                        $query33 = mssql_query("select IdMaestrosIntervencion,EtiquetaMaestroIntervencion,TipoDatoMaestroIntervencion as control from [ComMovTab.MaestrosIntervencion] where RaizMaestroIntervencion = $var4 order by PosicionMaestroIntervencion asc");

                        $lista5.="<div data-role='fieldcontain' class='ui-field-contain ui-body ui-br'>
                        <label for='name-a' class='ui-input-text'>$var4titulo:</label>
                        
                        <select data-native-menu='false' tabindex='-1' data-theme='b'>
                            <option data-placeholder='true'>Selecciona</option>";

                        while ($retorno5 = mssql_fetch_object($query33)){

                            $var5=utf8_decode($retorno5->IdMaestrosIntervencion);
                            $var5titulo=utf8_decode($retorno5->EtiquetaMaestroIntervencion);
                            $var5control=$retorno5->control;

                            $lista5.="<option value='$var5titulo'>$var5titulo</option>";
                            }

                        $lista5.="</select>
                        </div>";
                        break;



		            case 'cadena':
		                        $lista5.="<div data-role='fieldcontain' class='ui-field-contain ui-body ui-br'>
		                        <label for='name-a' class='ui-input-text'>$var4titulo:</label>
		                        <input type='text' name='name' id='name-a' value='' readonly='readonly'>
		                        </div>";
		                        break;

		            case 'areatexto':
		                        $lista5.="
		                        <textarea cols='40' rows='6' style='width:100%;' name='textarea-1' id='textarea-1' class='ui-input-text ui-body-c ui-corner-all ui-shadow-inset'>
		                        $var4titulo
		                        </textarea>";
		                        break;

                    default :
                        $lista5.="<div data-role='fieldcontain' class='ui-field-contain ui-body ui-br'>
                        <label for='name-a' class='ui-input-text'>$var4titulo:</label>
                        <input type='text' name='name' id='name-a' value='' readonly='readonly'>
                        </div>";
                        break;
            }

}

$lista5.="";
echo $lista5;

?>