<?php 
if (!isset($NEGOCIO)) {
    header("Location:".ENV_WEBROOT_FULL_URL."/Usuarios/logout");
    die();
}
?>
<script src="<?php echo ENV_WEBROOT_FULL_URL ?>js/jquery.js"></script>
<script>


$(document).ready(function() {

$('#example2').dataTable( {
     
          "sAjaxSource": ENV_WEBROOT_FULL_URL+"/ComlecOrdenlecturas/listarordenlecturasintro",
         });


        //initialize the javascript
        App.init();
        App.dataTables();
        
       /* Formating function for row details */
        function fnFormatDetails ( oTable, nTr )
        {
            //  var aData = oTable.fnGetData( nTr );
       
            var aData = oTable.fnGetData( nTr );
            //   alert(aData[2]);
               
                var formURL='/ComlecOrdenlecturas/listarlibro';
   
                 $.ajax(
                               {
                                   url:  ENV_WEBROOT_FULL_URL+"/ComlecOrdenlecturas/listarordenlecturasintro",
                                   type: "POST",
                               //    data: postData,
                                //   dataType: 'json',
                                   success: function(data, textStatus, jqXHR)
                                   {
                                    //   alert('entro');
                                      // alert(data);
                                      $('#casiano').html('holzzzzzzzzzzzz');
                                   }
                               });
               
            var sOut = '<table id="casiano" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
            sOut += '<tr><td>Rendering engine:</td><td>'+aData[1]+' '+aData[4]+'</td></tr>';
            sOut += '<tr><td>Link to source:</td><td>Could provide a link here</td></tr>';
            sOut += '<tr><td>Extra info:</td><td>And any further details here (images etc)</td></tr>';
            sOut += '</table>';
             
            return sOut;
        }
       
        /*
         * Insert a 'details' column to the table
         */
        var nCloneTh = document.createElement( 'th' );
        var nCloneTd = document.createElement( 'td' );
        nCloneTd.innerHTML = '<img class="toggle-details" src="'+ENV_WEBROOT_FULL_URL+'images/plus.png" />';
        nCloneTd.className = "center";
         
        $('#datatable2 thead tr').each( function () {
            this.insertBefore( nCloneTh, this.childNodes[0] );
        } );
         
        $('#datatable2 tbody tr').each( function () {
            this.insertBefore(  nCloneTd.cloneNode( true ), this.childNodes[0] );
        } );
         
        /*
         * Initialse DataTables, with no sorting on the 'details' column
         */
        var oTable = $('#datatable2').dataTable( {
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [ 0 ] }
            ],
            "aaSorting": [[1, 'asc']],
             "sAjaxSource":  ENV_WEBROOT_FULL_URL+"/ComlecOrdenlecturas/listarordenlecturasintro"
        });
         
        /* Add event listener for opening and closing details
         * Note that the indicator for showing which row is open is not controlled by DataTables,
         * rather it is done here
         */
        $('#datatable2').delegate('tbody td img','click', function () {
            var nTr = $(this).parents('tr')[0];
            if ( oTable.fnIsOpen(nTr) )
            {
              
                /* This row is already open - close it */
                this.src = "./images/plus.png";
                oTable.fnClose( nTr );
            }
            else
            {
                //  var aData = oTable.fnGetData( nTr );
             //   alert(aData[2]);
                /* Open this row */
                this.src = "./images/minus.png";
                oTable.fnOpen( nTr, fnFormatDetails(oTable, nTr), 'details' );
            }
        } );
        
      $('.dataTables_filter input').addClass('form-control').attr('placeholder','Search');
      $('.dataTables_length select').addClass('form-control');    






} );
</script>
	
	
	<div class="page-aside tree">
      <div class="fixed nano nscroller">
        <div class="content">
          <div class="title">
            <h2>Asignar</h2>
          </div>
          <ul class="nav nav-list treeview">
            <li><label class="tree-toggler nav-header"><i class="fa fa-folder-o"></i> Ver Ordenes</label>
                <ul class="nav nav-list tree">
                    <li><a href="#">Listar Ordenes</a></li>
                </ul>
            </li>
          </ul>
        </div>
        
      </div>
	</div>
		
	<div class="container-fluid" id="pcont">
		<div class="cl-mcont">
				<div class="col-sm-12 col-md-12" style="width:1350px;">
						<div class="block">
							<div class="header no-border">
								<h2>Asignar Ordenes</h2>
							</div>
							
							
							<button class="btn btn-primary btn-flat md-trigger" data-modal="md-slideLeft"> Modal</button>
								
								<!-- Nifty Modal -->
								<div class="md-modal md-effect-2" id="md-slideLeft">
									<div class="md-content" style="max-height:900px;min-height:900px;width:160%;margin-top:5%;margin-left:40%;">
									  <div class="modal-header">
										<button type="button" class="close md-close" data-dismiss="modal" aria-hidden="true">&times;</button>
									  </div>
									  <div class="modal-body">
										<div class="text-center">
										  <div class="i-circle primary"><i class="fa fa-check"></i></div>
										  <h4>Awesome!</h4>
										  <p>Changes has been saved successfully!</p>
										</div>
									  </div>
									  <div class="modal-footer">
										<button type="button" class="btn btn-default btn-flat md-close" data-dismiss="modal">Cancel</button>
										<button type="button" class="btn btn-primary btn-flat md-close" data-dismiss="modal">Proceed</button>
									  </div>
									</div>
								</div>
								
								<div class="md-overlay"></div>
							
							
							
							
								<div class="content">
										<div class='tabla'>
											<div class=''>
											<div class='table-responsive'>
												<i id="loadingBuscar" class="loading">cargando...</i>
                        <div id="grid">
                        <table  class="table table-bordered"  id="datatable2"  >
                        <thead>
                        <tr>
                        <th>Rendering engine</th>
                        <th>Browser</th>
                        <th>Platform(s)</th>
                                                                                                                <th>Engine version</th>
                                                                                                                <th>CSS grade</th>
                                                                                                        </tr>
                                                                                                </thead>
                                                                                              <tbody>
                                                                                              										<tr>
                                                                                              											<td>Trident</td>
                                                                                              											<td>Internet
                                                                                              												 Explorer 4.0</td>
                                                                                              											<td>Win 95+</td>
                                                                                              											<td class="center"> 4</td>
                                                                                              											<td class="center">X</td>
                                                                                              										</tr>
                                                                                              </tbody>
                                                                                                </table>








			
                                                                                                </div>
											</div>
											</div>
										</div>
								</div>
							
						</div>
						
				</div>
		</div>
	</div>




