<?php 
if (!isset($NEGOCIO)) {
    header("Location:".ENV_WEBROOT_FULL_URL."/Usuarios/logout");
    die();
}
?>
<?php 
ini_set('memory_limit', '-1');
$tabla='<table id="example" >
<thead>
<tr>';
foreach ($conceptosByGrupo as $obj){
  //  var_dump($obj[0]['descripcion'].'<br>');
    $tabla.= "<th>".$obj[0]['descripcion']."</th>";
	//echo $obj['ComlecOrdenlectura']['id'].'<br>';
}
$tabla.='</tr></thead><tbody>'; 
		foreach ($listarOrdenLecturas as $obj1){        
$tabla.= '<tr>';
 
foreach ($conceptosByGrupo as $obj){
  //  var_dump($obj[0]['descripcion'].'<br>');
   // echo "<th>".$obj[0]['descripcion']."</th>";
	//echo $obj['ComlecOrdenlectura']['id'].'<br>';
//'['.$obj[0]['descripcion'].']
   $var=strtolower( $obj[0]['descripcion']);
  // var_dump( strtolower( $var) );
  $tabla.= '<td>'.$obj1[0][$var].'</td>'; 
   }   
 $tabla.= '</tr>';
  //  echo $tabla;
    }   
 $tabla.=' </tbody> </table> ';
 echo $tabla;
 ?>